
.crumbs{
    height: 40px;
    line-height: 40px;
    background-color: #16A9F6;
    color: #ffffff;
    font-size: 14px;
}
.crumbs a{
    color: inherit;
}

.hospital-info>div{
    box-sizing: border-box;
    height: 450px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 20px;
}
.hospital-info>div.left{
    width: 800px;
    padding: 50px;
}
.hospital-info>div.right{
    width: 380px;
    padding: 20px;
    overflow-y: auto;
}
.hospital-info .right *{
    font-size:14px !important;
    font-family: 'MicrosoftYaHei' !important;
}
.hospital-info>div.left img{
    width: 320px;
    height: 240px;
    margin-right: 30px;
}
.hospital-info>div.left .container{
    width: 100%;
}
.hospital-info>div.left .container>div.left{
    width: 350px;
    font-size: 14px;
    color: #666666;
}
.hospital-info>div.left .container>div.left>div.row{
    margin-bottom: 5px;
}
.hospital-info>div.left .container>div.left>div:first-child{
    font-size: 20px;
    color: #333333;
    margin: 20px auto;
    font-weight: bold;
}
.hospital-info>div.left .container>div.left label{
    color: #99A0AA;
}
.hospital-info>div.left .container>div.left a{
    color: #16A9F6;
}
.hospital-info>div.left .container>div.left>div:last-child{
    color: #999999;
    margin: 20px auto 0;
}
.hospital-info>div.left p{
    font-size: 14px;
    color: #99A0AA;
    margin-top: 30px;
    text-indent: 2em;
}
.hospital_mian_foot{
    width: 100%;
    height: 105px;
    overflow-y:auto;
}
.hospital_mian_foot>a{
    color: #16A9F6;
}



.department-chose{
    margin-top: 20px;
    padding: 35px 50px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 4px;
}
.department-chose .container{
    width: 100%;
}
.department-chose .title{
    font-size: 18px;
    color: #666666;
}
.department-chose .search>input{
    box-sizing: border-box;
    width: 240px;
    height: 30px;
    border: #e2e2e2 1px solid;
    border-radius: 2px;
    background-color: #f5f5f5;
    padding: 0 14px;
    font-size: 14px;
}
.department-chose .search>button{
    width: 80px;
    height: 30px;
    background-color: #99A0AA;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
.search-result{
    display: none;
    width: 1100px;
    line-height: 60px;
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin-top: 25px;
    border-radius: 4px;
}
.search-result>.col-2{
    box-sizing: border-box;
    color: #A1A7B0;
}
.search-result>.col-2:first-child{
    padding-left: 20px;
}
.search-result>.col-2:last-child{
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}
.search-result>.col-20 li{
    height: 60px;
    padding: 0 20px;
    margin: 0 10px;
}
.search-result>.col-20 li>a{
    color: #333333;
}

.quick-chose{
    width: 100%;
    margin-top: 30px;
}
.quick-chose h3{
    font-size: 20px;
    color: #99A0AA;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: #E2E2E2 2px dashed;
}
.quick-chose ul>li a{
    display: inline-block;
       width:180px;
       color: #666666;
overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    
}

.quick-chose ul>li>a:nth-child(5n+1){
     width: 150px;
    margin-right: 0;
}